/* CSS declarations go here */

body {
	background-color : white;
}

#banner {
	position: fixed;   
	height: 20px; width: 100%;
	left: 0px; top: 0px; right: 0px;
	font-family: arial, sans-serif;
	/*font-style: italic;*/
	background-color : white;
	font-size : 20pt;
	border-bottom: solid black 1px;
	padding: 10px;
    padding-top:15px;
	z-index: 5;
}

#logo {
	float: left;
	height: 30px;
	width: 30px;
}


#login-button {
	z-index: 6;
	position: fixed;
	right: 3px; top: 8px;
}


.gallery {
	position: absolute;   
	height: 70%; width: 100%;    
	left: 0px; top: 60px; right: 0px;
	font-family: arial, sans-serif;
	background-color : white;
	font-size : 8pt;
	border: 0px solid black;
	padding: 3px;
}


#footer {
	position: fixed;   
	height: 20px; width: 100%;    
	text-align: center;
	left: 0px; bottom: 9px; right: 0px; 
	font-family: arial, sans-serif;
	font-style: italic;
	background-color : white;
	font-size : 10pt;
	border: 0px solid black;
	padding: 15px;
	border-top: solid black 1px;
	z-index: 5;
}


.status-thumb {
	position:relative; top:5px; left:25px; 
	float: left;
	width: 306px;
	height: 306px;
	padding: 3px;
}

.dropzone {
    position:relative; top:5px; left:25px;
    float: left;
    width: 306px;
    height: 306px;
    padding: 3px;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
}

.transparent_layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
    z-index: 100;
}

#photo_box {
    position: relative;
    text-align: center;
    z-index: 1000;
    top:100px;
    max-height: 80%;
}

#photo_box_img {
    max-height: 70%;
}

#photo_viewer {
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:100%;
    z-index: 500;
    visibility: hidden;
}

#photo_comment {
	position: relative;
	text-align: center;
	z-index: 1200;
	color: white;  
	top: 20px;
	left: 10%;
	width: 80%;
}

.event-name {
    font-size: 14pt;
    color: #000000;
    position:relative;
    bottom:30px;
    left:10px;
    background-color: #ffffff;
    opacity: 0.7;
}

.event {
    position:relative;
    top:5px;
    left:25px;
    float: left;
    width: 150px;
    height: 150px;
    padding: 3px;
}

img.event-thumb {
    position:relative;
    /*width: 100%;*/
    width: 150px;
    height: 150px;
}