<template name="missingFeature">
<form name="MissingFeature" action="mailto:thatsmykid@mohadipe.de"
	onsubmit="Visibility.hideEMail()" onreset="Visibility.hideEMail()">
	<input type="hidden" name="subject" value="Interesse an ThatsMyKid Login">
	<input type="hidden" name="body" value="Ich habe Interesse am Login auf ThatsMyKid.">
	Es tut uns leid aber diese Funktion ist noch nicht fertig. Falls du
	Interesse hast, informiert zu werden, wenn es soweit ist hinterlasse uns
	doch deine EMail-Adresse.
	<div align="center">
	<table>
		<tr>
			<td>EMail:</td>
			<td><input type="text" size="40" name="Eingabe"><br></td>
		</tr>
		<tr>
			<td></td>
			<td align="center"><input type="submit" value=" Absenden "> <input
				type="reset" value=" Abbrechen"></td>
		</tr>
	</table>
	</div>
</form>
</template>