<template name="shares">
    <div id="shares-button">Freigeben</div>
    <div id="shares-dialog">
        <ul style="list-style-type: none">
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><div class="shares-entry">test@bla.de</div></li>
            <li><input id="new-share" type="text" size="5"/></li>
        </ul>
    </div>
</template>
